.migkaon-1-icon2 {
  width: 61px;
  height: 60px;
  position: relative;
  object-fit: contain;
}
.fixed-header2 {
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-668xl);
}
.search-text1 {
  margin: 0 !important;
  width: 420.8px;
  position: absolute;
  bottom: 16.9px;
  left: -60px;
  font-size: inherit;
  line-height: 12.1px;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.bar1,
.h11 {
  position: relative;
}
.bar1 {
  height: 46px;
  width: 1359px;
  border-radius: var(--br-xl);
  background-color: var(--nav-color);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.h11 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 26px;
  z-index: 1;
}
.search-icon,
.search-input-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search-icon {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--nav-color);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  justify-content: flex-end;
  padding: var(--padding-10xs) var(--padding-2xs) var(--padding-11xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.search-input-inner {
  align-self: stretch;
  justify-content: flex-start;
}
.enter-3-or,
.kung-pao-shrimp16,
.search-input-inner {
  position: relative;
  max-width: 100%;
}
.enter-3-or {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.kung-pao-shrimp16 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kung-pao-shrimp17 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.p16 {
  margin: 0;
}
.timer8 {
  position: relative;
}
.recipe-time-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.minutes8 {
  flex: 1;
  position: relative;
}
.time {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments-icon9,
.count {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.comments-icon9 {
  height: 10.1px;
  width: 10.1px;
  object-fit: contain;
}
.count {
  flex: 1;
}
.comments-icon8 {
  width: 33.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.p17 {
  margin: 0;
}
.like8,
.like9 {
  position: relative;
}
.like8 {
  height: 27.6px;
  display: inline-block;
}
.like9 {
  flex: 1;
}
.comments,
.likes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.likes {
  width: 33.2px;
  justify-content: flex-start;
}
.comments {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.card-details,
.metrics,
.recipe-comment-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.recipe-comment-items {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.card-details,
.metrics {
  flex-direction: column;
}
.metrics {
  width: 91.3px;
  gap: var(--gap-7xs-5);
  font-size: var(--font-size-3xs);
}
.card-details {
  width: 183.8px;
  gap: var(--gap-mini);
}
.bookmark-icon9 {
  height: 19px;
  width: 13px;
  position: relative;
  object-fit: contain;
}
.card-details-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-12 {
  height: 337.8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.kung-pao-shrimp18 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kung-pao-shrimp19 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.p18 {
  margin: 0;
}
.timer9 {
  position: relative;
}
.timer-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.minutes9 {
  flex: 1;
  position: relative;
}
.frame-parent33 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments-icon10 {
  height: 10.1px;
  width: 10.1px;
  position: relative;
  object-fit: contain;
}
.div14 {
  flex: 1;
  position: relative;
}
.comments-parent6 {
  width: 33.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.p19 {
  margin: 0;
}
.div15,
.like10 {
  position: relative;
}
.like10 {
  height: 27.6px;
  display: inline-block;
}
.div15 {
  flex: 1;
}
.frame-parent34,
.like-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.like-parent6 {
  width: 33.3px;
  justify-content: flex-start;
}
.frame-parent34 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent32,
.frame-wrapper8,
.kung-pao-shrimp-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper8 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-parent32,
.kung-pao-shrimp-parent5 {
  flex-direction: column;
}
.frame-parent32 {
  width: 91.3px;
  gap: var(--gap-7xs-5);
  font-size: var(--font-size-3xs);
}
.kung-pao-shrimp-parent5 {
  width: 183.8px;
  gap: var(--gap-mini);
}
.bookmark-icon10 {
  height: 19px;
  width: 13px;
  position: relative;
  object-fit: contain;
}
.frame-parent31 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-22 {
  height: 337.8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.kung-pao-shrimp20 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kung-pao-shrimp21 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.p20 {
  margin: 0;
}
.timer10 {
  position: relative;
}
.timer-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.minutes10 {
  flex: 1;
  position: relative;
}
.frame-parent37 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments-icon11 {
  height: 10.1px;
  width: 10.1px;
  position: relative;
  object-fit: contain;
}
.div16 {
  flex: 1;
  position: relative;
}
.comments-parent7 {
  width: 33.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.p21 {
  margin: 0;
}
.div17,
.like11 {
  position: relative;
}
.like11 {
  height: 27.6px;
  display: inline-block;
}
.div17 {
  flex: 1;
}
.frame-parent38,
.like-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.like-parent7 {
  width: 33.3px;
  justify-content: flex-start;
}
.frame-parent38 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent36,
.frame-wrapper9,
.kung-pao-shrimp-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper9 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-parent36,
.kung-pao-shrimp-parent6 {
  flex-direction: column;
}
.frame-parent36 {
  width: 91.3px;
  gap: var(--gap-7xs-5);
  font-size: var(--font-size-3xs);
}
.kung-pao-shrimp-parent6 {
  width: 183.8px;
  gap: var(--gap-mini);
}
.bookmark-icon11 {
  height: 19px;
  width: 13px;
  position: relative;
  object-fit: contain;
}
.frame-parent35 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-32 {
  height: 337.8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.kung-pao-shrimp22 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kung-pao-shrimp23 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.p22 {
  margin: 0;
}
.timer11 {
  position: relative;
}
.timer-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.minutes11 {
  flex: 1;
  position: relative;
}
.frame-parent41 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments-icon12 {
  height: 10.1px;
  width: 10.1px;
  position: relative;
  object-fit: contain;
}
.div18 {
  flex: 1;
  position: relative;
}
.comments-parent8 {
  width: 33.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.p23 {
  margin: 0;
}
.div19,
.like12 {
  position: relative;
}
.like12 {
  height: 27.6px;
  display: inline-block;
}
.div19 {
  flex: 1;
}
.frame-parent42,
.like-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.like-parent8 {
  width: 33.3px;
  justify-content: flex-start;
}
.frame-parent42 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent40,
.frame-wrapper10,
.kung-pao-shrimp-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper10 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-parent40,
.kung-pao-shrimp-parent7 {
  flex-direction: column;
}
.frame-parent40 {
  width: 91.3px;
  gap: var(--gap-7xs-5);
  font-size: var(--font-size-3xs);
}
.kung-pao-shrimp-parent7 {
  width: 183.8px;
  gap: var(--gap-mini);
}
.bookmark-icon12 {
  height: 19px;
  width: 13px;
  position: relative;
  object-fit: contain;
}
.frame-parent39 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-42 {
  height: 337.8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.kung-pao-shrimp24 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kung-pao-shrimp25 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.p24 {
  margin: 0;
}
.timer12 {
  position: relative;
}
.timer-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.minutes12 {
  flex: 1;
  position: relative;
}
.more-time {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments-icon13,
.more-counts {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.comments-icon13 {
  height: 10.1px;
  width: 10.1px;
  object-fit: contain;
}
.more-counts {
  flex: 1;
}
.more-comments-icons {
  width: 33.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.p25 {
  margin: 0;
}
.like13 {
  height: 27.6px;
  position: relative;
  display: inline-block;
}
.more-likes {
  flex: 1;
  position: relative;
}
.like-parent9,
.more-comments-icons-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.like-parent9 {
  width: 33.2px;
  justify-content: flex-start;
}
.more-comments-icons-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-parent8,
.more-metrics,
.more-metrics-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.more-metrics-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.kung-pao-shrimp-parent8,
.more-metrics {
  flex-direction: column;
}
.more-metrics {
  width: 91.3px;
  gap: var(--gap-7xs-5);
  font-size: var(--font-size-3xs);
}
.kung-pao-shrimp-parent8 {
  width: 183.8px;
  gap: var(--gap-mini);
}
.bookmark-icon13 {
  height: 19px;
  width: 13px;
  position: relative;
  object-fit: contain;
}
.frame-parent43 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-13 {
  height: 337.8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.kung-pao-shrimp26 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kung-pao-shrimp27 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.p26 {
  margin: 0;
}
.timer13 {
  position: relative;
}
.timer-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.minutes13 {
  flex: 1;
  position: relative;
}
.frame-parent46 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments-icon14 {
  height: 10.1px;
  width: 10.1px;
  position: relative;
  object-fit: contain;
}
.div20 {
  flex: 1;
  position: relative;
}
.comments-parent9 {
  width: 33.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.p27 {
  margin: 0;
}
.div21,
.like14 {
  position: relative;
}
.like14 {
  height: 27.6px;
  display: inline-block;
}
.div21 {
  flex: 1;
}
.frame-parent47,
.like-parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.like-parent10 {
  width: 33.3px;
  justify-content: flex-start;
}
.frame-parent47 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent45,
.frame-wrapper11,
.kung-pao-shrimp-parent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper11 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-parent45,
.kung-pao-shrimp-parent9 {
  flex-direction: column;
}
.frame-parent45 {
  width: 91.3px;
  gap: var(--gap-7xs-5);
  font-size: var(--font-size-3xs);
}
.kung-pao-shrimp-parent9 {
  width: 183.8px;
  gap: var(--gap-mini);
}
.bookmark-icon14 {
  height: 19px;
  width: 13px;
  position: relative;
  object-fit: contain;
}
.frame-parent44 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-23 {
  height: 337.8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.kung-pao-shrimp28 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kung-pao-shrimp29 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.p28 {
  margin: 0;
}
.timer14 {
  position: relative;
}
.timer-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.minutes14 {
  flex: 1;
  position: relative;
}
.frame-parent50 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments-icon15 {
  height: 10.1px;
  width: 10.1px;
  position: relative;
  object-fit: contain;
}
.div22 {
  flex: 1;
  position: relative;
}
.comments-parent10 {
  width: 33.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.p29 {
  margin: 0;
}
.div23,
.like15 {
  position: relative;
}
.like15 {
  height: 27.6px;
  display: inline-block;
}
.div23 {
  flex: 1;
}
.frame-parent51,
.like-parent11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.like-parent11 {
  width: 33.3px;
  justify-content: flex-start;
}
.frame-parent51 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent49,
.frame-wrapper12,
.kung-pao-shrimp-parent10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper12 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-parent49,
.kung-pao-shrimp-parent10 {
  flex-direction: column;
}
.frame-parent49 {
  width: 91.3px;
  gap: var(--gap-7xs-5);
  font-size: var(--font-size-3xs);
}
.kung-pao-shrimp-parent10 {
  width: 183.8px;
  gap: var(--gap-mini);
}
.bookmark-icon15 {
  height: 19px;
  width: 13px;
  position: relative;
  object-fit: contain;
}
.frame-parent48 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-33 {
  height: 337.8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.kung-pao-shrimp30 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kung-pao-shrimp31 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.p30 {
  margin: 0;
}
.timer15 {
  position: relative;
}
.timer-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.minutes15 {
  flex: 1;
  position: relative;
}
.frame-parent54 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments-icon16 {
  height: 10.1px;
  width: 10.1px;
  position: relative;
  object-fit: contain;
}
.div24 {
  flex: 1;
  position: relative;
}
.comments-parent11 {
  width: 33.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-5);
}
.p31 {
  margin: 0;
}
.div25,
.like16 {
  position: relative;
}
.like16 {
  height: 27.6px;
  display: inline-block;
}
.div25 {
  flex: 1;
}
.frame-parent55,
.like-parent12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.like-parent12 {
  width: 33.3px;
  justify-content: flex-start;
}
.frame-parent55 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent53,
.frame-wrapper13,
.kung-pao-shrimp-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper13 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-parent53,
.kung-pao-shrimp-parent11 {
  flex-direction: column;
}
.frame-parent53 {
  width: 91.3px;
  gap: var(--gap-7xs-5);
  font-size: var(--font-size-3xs);
}
.kung-pao-shrimp-parent11 {
  width: 183.8px;
  gap: var(--gap-mini);
}
.bookmark-icon16 {
  height: 19px;
  width: 13px;
  position: relative;
  object-fit: contain;
}
.frame-parent52 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kung-pao-shrimp-43 {
  height: 337.8px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.recipe-items,
.recipe-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.recipe-items {
  width: 1165px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 26.2px 27px;
  min-height: 702px;
}
.recipe-list {
  align-self: stretch;
  justify-content: flex-end;
  text-align: left;
}
.enter-3-or-more-ingredients-to-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.prompt {
  width: 1304px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 43px;
  box-sizing: border-box;
}
.prompt,
.search-bar-container,
.search-input {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.search-input {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--nav-title);
  font-family: var(--font-montserrat);
}
.search-bar-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 40px 0 41px;
  box-sizing: border-box;
}
.footer2,
.union-icon2 {
  position: relative;
  max-width: 100%;
}
.footer2 {
  height: 72px;
  width: 1440px;
  background-color: var(--nav-color);
  display: none;
  z-index: 0;
}
.union-icon2 {
  align-self: stretch;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.union-frame {
  width: 70.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.migkaon2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.frame-parent56 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icbaseline-facebook-icon2,
.mdiinstagram-icon2 {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 36px;
  z-index: 1;
}
.social-icons {
  width: 104px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.mdigmail-icon2 {
  height: 36px;
  width: 36px;
  position: absolute;
  margin: 0 !important;
  right: 38.8px;
  bottom: 17px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.desktop-3,
.fixed-footer2 {
  position: relative;
  display: flex;
}
.fixed-footer2 {
  align-self: stretch;
  background-color: var(--nav-color);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-88xl) var(--padding-base)
    var(--padding-10xl-2);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--nav-title);
  font-family: var(--font-montserrat);
}
.desktop-3 {
  width: 100%;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 33.1px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .prompt {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h11,
  .migkaon2 {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .fixed-header2 {
    padding-left: var(--padding-324xl);
    padding-right: var(--padding-324xl);
    box-sizing: border-box;
  }
  .enter-3-or-more-ingredients-to-parent {
    gap: var(--gap-base);
  }
  .fixed-footer2 {
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
  .desktop-3 {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .fixed-header2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .h11,
  .migkaon2 {
    font-size: var(--font-size-lg);
  }
  .fixed-footer2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
