body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --nav-color: #dae2b6;
  --nav-title: #606c5d;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);

  /* Gaps */
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-7xl-2: 26.2px;
  --gap-4xs: 9px;
  --gap-mini: 15px;
  --gap-7xs-5: 5.5px;
  --gap-mid: 17px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-lgi: 19px;
  --padding-88xl: 107px;
  --padding-base: 16px;
  --padding-10xl-2: 29.2px;
  --padding-34xl: 53px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-2xl: 21px;
  --padding-12xs-1: 0.1px;
  --padding-12xs: 1px;
  --padding-11xs-4: 1.4px;
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-11xs: 2px;
  --padding-lg-8: 18.8px;
  --padding-62xl: 81px;
  --padding-7xs: 6px;
  --padding-668xl: 687px;
  --padding-324xl: 343px;

  /* Border radiuses */
  --br-xl: 20px;
}
